Information for : {{inventory_hostname}}
IP Management : {{hostvars[inventory_hostname]['ansible_host']}}

Current Data/Time: {{clock.stdout[0]}}

####################Show System####################
{{system.stdout[0]}}
####################Show Running Config####################
{{config.stdout[0]}}
####################Show Serial Number####################
{{serial.stdout[0]}}
####################Show IP MGMT####################
{{ipmgmt.stdout[0]}}
####################Show Fan Status####################
{{fan.stdout[0]}}
####################Show Power Supply Status####################
{{psu.stdout[0]}}
####################Show Temperature Status####################
{{temp.stdout[0]}}
####################Show Interface Brief####################
{{intbrief.stdout[0]}}
####################Show Vlan Databse####################
{{vlan.stdout[0]}}
####################Show Mac-Address Count####################
{{mac.stdout[0]}}
####################Show Total Route Count####################
{{route.stdout[0]}}
####################Show lldp neighbor-info detail####################
{{lldp.stdout[0]}}
