#################### Show status ####################

model: {% if status.meta.results.model is defined %}{{ status.meta.results.model }}{% else %}N/A{% endif %}
hostname: {% if status.meta.results.hostname is defined %}{{ status.meta.results.hostname }}{% else %}N/A{% endif %}
serial: {% if status.meta.serial is defined %}{{ status.meta.serial }}{% else %}N/A{% endif %}
version: {% if status.meta.version is defined %}{{ status.meta.version }}{% else %}N/A{% endif %}

{% for result in interface.meta.results %}
    {% if result.type is defined and result.type == 'loopback' and result.ipv4_addresses is defined %}
        Interface Name   : {% if result.name is defined %}{{ result.name }}{% else %}N/A{% endif %}
        
        {% for ip_info in result.ipv4_addresses %}
            IP Address       : {% if ip_info.ip is defined %}{{ ip_info.ip }}{% else %}N/A{% endif %}
        {% endfor %}
        
    {% endif %}
{% endfor %}

################### Show CPU and Memory Usage ##############

CPU : {% if cpumem.meta.results.cpu is defined %}{{ cpumem.meta.results.cpu }}{% else %}N/A{% endif %} %
Memory : {% if cpumem.meta.results.memory is defined %}{{ cpumem.meta.results.memory }}{% else %}N/A{% endif %} %

################### Show Current Session ##############

Current Session Usage : {% if session.meta.results.session.current_usage is defined %}{{ session.meta.results.session.current_usage }}{% else %}N/A{% endif %}

New Session Rate (24 Hours Max): {{setuprate.meta.results.setuprate[0].historical['24-hour'].max}}

New Session Rate (24 Hours Average) :  {{setuprate.meta.results.setuprate[0].historical['24-hour'].average}}
#################### Show NTP Status ####################  

{% set ntp_results = ntp.meta.results %}
{% if ntp_results is defined and ntp_results | length > 1 %}
    Server: {% if ntp_results[1].server is defined %}{{ ntp_results[1].server }}{% else %}Not Available{% endif %}
    IP: {% if ntp_results[1].ip is defined %}{{ ntp_results[1].ip }}{% else %}Not Available{% endif %}
    Reachable: {% if ntp_results[1].reachable is defined %}{{ ntp_results[1].reachable }}{% else %}Not Available{% endif %}
    Expires: {% if ntp_results[1].expires is defined %}{{ ntp_results[1].expires }}{% else %}Not Available{% endif %}
    Stratum: {% if ntp_results[1].stratum is defined %}{{ ntp_results[1].stratum }}{% else %}Not Available{% endif %}
    Delay: {% if ntp_results[1].delay is defined %}{{ ntp_results[1].delay }}{% else %}Not Available{% endif %}
    Offset: {% if ntp_results[1].offset is defined %}{{ ntp_results[1].offset }}{% else %}Not Available{% endif %}
    Selected: {% if ntp_results[1].selected is defined %}{{ ntp_results[1].selected }}{% else %}Not Available{% endif %}
{% else %}
    No sufficient NTP results available.
{% endif %}

#################### Show Fortiguard Connection ####################

FortiGuard status:
    Connection status: {% if fortiguard.meta.results.fortiguard.connected is defined %}{{ fortiguard.meta.results.fortiguard.connected }}{% else %}N/A{% endif %}   
    Server: {% if fortiguard.meta.results.fortiguard.server_address is defined %}{{ fortiguard.meta.results.fortiguard.server_address }}{% else %}N/A{% endif %}
    Last Connection Success: {% if fortiguard.meta.results.fortiguard.last_connection_success is defined %}{{ fortiguard.meta.results.fortiguard.last_connection_success | timestamp_to_datetime }}{% else %}N/A{% endif %}
    Next Scheduled Update: {% if fortiguard.meta.results.fortiguard.next_scheduled_update is defined %}{{ fortiguard.meta.results.fortiguard.next_scheduled_update | timestamp_to_datetime }}{% else %}N/A{% endif %}

FMG status:
    Server: {% if fmg.meta.results.server is defined %}{{ fmg.meta.results.server }}{% else %}N/A{% endif %}
    Mode: {% if fmg.meta.results.mode is defined %}{{ fmg.meta.results.mode }}{% else %}N/A{% endif %}
    Connection status: {% if fmg.meta.results.fortimanager_status is defined %}{{ fmg.meta.results.fortimanager_status }}{% else %}N/A{% endif %}
    Registration status: {% if fmg.meta.results.fortimanager_registration_status is defined %}{{ fmg.meta.results.fortimanager_registration_status }}{% else %}N/A{% endif %}
    Serial: {% if fmg.meta.results.sn is defined %}{{ fmg.meta.results.sn }}{% else %}N/A{% endif %}

FAZ status:
    Server IP: {% if faz.meta.results.mgmt_ip is defined %}{{ faz.meta.results.mgmt_ip }}{% else %}N/A{% endif %}
    Server Name: {% if faz.meta.results.device is defined %}{{ faz.meta.results.device }}{% else %}N/A{% endif %}
    Serial: {% if faz.meta.results.serial is defined %}{{ faz.meta.results.serial }}{% else %}N/A{% endif %}
    Registration status: {% if faz.meta.results.registration is defined %}{{ faz.meta.results.registration }}{% else %}N/A{% endif %}

#################### Show UTM Status ####################

Antivirus : 
    Version: {% if fortiguard.meta.results.antivirus.version is defined %}{{ fortiguard.meta.results.antivirus.version }}{% else %}N/A{% endif %}
    Last Update: {% if fortiguard.meta.results.antivirus.last_update is defined %}{{ fortiguard.meta.results.antivirus.last_update | timestamp_to_datetime }}{% else %}N/A{% endif %}
Application Control Signatures :
    Version: {% if fortiguard.meta.results.appctrl.version is defined %}{{ fortiguard.meta.results.appctrl.version }}{% else %}N/A{% endif %}
    Last Update: {% if fortiguard.meta.results.appctrl.last_update is defined %}{{ fortiguard.meta.results.appctrl.last_update | timestamp_to_datetime }}{% else %}N/A{% endif %}
Internet Service Database Definitions:
    Version: {% if fortiguard.meta.results.internet_service_db.version is defined %}{{ fortiguard.meta.results.internet_service_db.version }}{% else %}N/A{% endif %}
    Last Update: {% if fortiguard.meta.results.internet_service_db.last_update is defined %}{{ fortiguard.meta.results.internet_service_db.last_update | timestamp_to_datetime }}{% else %}N/A{% endif %}
Internet Service Database Definitions:
    Version: {% if fortiguard.meta.results.ips.version is defined %}{{ fortiguard.meta.results.ips.version }}{% else %}N/A{% endif %}
    Last Update: {% if fortiguard.meta.results.ips.last_update is defined %}{{ fortiguard.meta.results.ips.last_update | timestamp_to_datetime }}{% else %}N/A{% endif %}

#################### Show current arp ####################

Address           Age(min)   Hardware Addr      Interface
{% for entry in arp_result.meta.results %}
    Address: {% if entry.ip is defined %}{{ entry.ip }}{% else %}N/A{% endif %}
    Age: {% if entry.age is defined %}{{ entry.age }}{% else %}N/A{% endif %}
    MAC Address: {% if entry.mac is defined %}{{ entry.mac }}{% else %}N/A{% endif %}
    Interface: {% if entry.interface is defined %}{{ entry.interface }}{% else %}N/A{% endif %}
{% endfor %}

#################### Show Interface Status ####################

{% for result in interface.meta.results %}
    - Interface Name: {% if result.name is defined %}{{ result.name }}{% else %}Not Available{% endif %}
    
    - Status: {% if result.status is defined %}{{ result.status }}{% else %}Not Available{% endif %}
    
    - Link: {% if result.link is defined %}{{ result.link }}{% else %}Not Available{% endif %}
    
    - MAC Address: {% if result.mac_address is defined %}{{ result.mac_address }}{% else %}Not Available{% endif %}
    - Speed: {% if result.speed is defined %}{{ result.speed }}{% else %}Not Available{% endif %} Mbps
    - Duplex: {% if result.duplex is defined %}{{ result.duplex }}{% else %}Not Available{% endif %}
    - Interface Type: {% if result.type is defined %}{{ result.type }}{% else %}Not Available{% endif %}
    
    {% if result.ipv4_addresses is defined %}
        {% for ip_info in result.ipv4_addresses %}
            - IPv4 Addresses: {% if ip_info.ip is defined %}{{ ip_info.ip }}{% else %}Not Available{% endif %}/{{ ip_info.cidr_netmask | default('N/A') }} (Netmask: {% if ip_info.netmask is defined %}{{ ip_info.netmask }}{% else %}Not Available{% endif %})
        {% endfor %}
    {% else %}
        - No IPv4 addresses available.
    {% endif %}
    -------------------------------------
{% endfor %}

#################### Show Routing Summary ####################

Total Route : {% if routestat.meta.results.total_lines is defined %}{{ routestat.meta.results.total_lines }}{% else %}0{% endif %}
Total Route V4 : {% if routestat.meta.results.total_lines_ipv4 is defined %}{{ routestat.meta.results.total_lines_ipv4 }}{% else %}0{% endif %}
Total Route V6 : {% if routestat.meta.results.total_lines_ipv6 is defined %}{{ routestat.meta.results.total_lines_ipv6 }}{% else %}0{% endif %}

#################### Show OSPF Neighbors ####################

{% if ospf_neighbors is defined and ospf_neighbors.meta.results | length > 0 %}
    Neighbor ID        State      Priority     Address
    {% for neighbor in ospf_neighbors.meta.results %}
        Neighbor ID: {% if neighbor.router_id is defined %}{{ neighbor.router_id }}{% else %}N/A{% endif %}
        State: {% if neighbor.state is defined %}{{ neighbor.state }}{% else %}N/A{% endif %}
        Priority: {% if neighbor.priority is defined %}{{ neighbor.priority }}{% else %}N/A{% endif %}
        Address: {% if neighbor.neighbor_ip is defined %}{{ neighbor.neighbor_ip }}{% else %}N/A{% endif %}
    {% endfor %}
{% else %}
    No OSPF neighbor information available.
{% endif %}

#################### Show BGP Neighbors ####################

{% if bgp_neighbors is defined and bgp_neighbors.meta.results | length > 0 %}
    Neighbor IP        Local IP        Remote AS   Admin Status     State       Type
    {% for neighbor in bgp_neighbors.meta.results %}
        Neighbor IP: {% if neighbor.neighbor_ip is defined %}{{ neighbor.neighbor_ip }}{% else %}N/A{% endif %}
        Local IP: {% if neighbor.local_ip is defined %}{{ neighbor.local_ip }}{% else %}N/A{% endif %}
        Remote AS: {% if neighbor.remote_as is defined %}{{ neighbor.remote_as }}{% else %}N/A{% endif %}
        Admin Status: {% if neighbor.admin_status is defined %}{{ neighbor.admin_status }}{% else %}N/A{% endif %}
        State: {% if neighbor.state is defined %}{{ neighbor.state }}{% else %}N/A{% endif %}
        Type: {% if neighbor.type is defined %}{{ neighbor.type }}{% else %}N/A{% endif %}
    {% endfor %}
{% else %}
    No BGP neighbor information available.
{% endif %}

#################### IPsec Tunnel Status Report ####################

{% if ipsec_tunnel_status is defined and ipsec_tunnel_status.meta.results | length > 0 %}
    Tunnel Name        Status           Remote IP
    {% for tunnel in ipsec_tunnel_status.meta.results %}
        Tunnel Name: {% if tunnel.name is defined %}{{ tunnel.name }}{% else %}N/A{% endif %}
        Status: {% if tunnel.proxyid[0].status is defined %}{{ tunnel.proxyid[0].status }}{% else %}N/A{% endif %}
        Remote IP: {% if tunnel.rgwy is defined %}{{ tunnel.rgwy }}{% else %}N/A{% endif %}
    {% endfor %}
{% else %}
    No IPsec tunnel information available.
{% endif %}

######################### Policy Count without Policy Disable ##########################

Number of policies: {% if policy.meta.results is defined %}{{ policy.meta.results | length }}{% else %}0{% endif %}

######################### Policy Unused ##########################

{% for policy in policy.meta.results %}
    {% if policy.bytes is defined and policy.bytes == 0 %}
        Policy ID: {% if policy.policyid is defined %}{{ policy.policyid }}{% else %}N/A{% endif %}
        Bytes: {% if policy.bytes is defined %}{{ policy.bytes }}{% else %}N/A{% endif %}
        UUID: {% if policy.uuid is defined %}{{ policy.uuid }}{% else %}N/A{% endif %}
        Active Sessions: {% if policy.active_sessions is defined %}{{ policy.active_sessions }}{% else %}N/A{% endif %}
        Packets: {% if policy.packets is defined %}{{ policy.packets }}{% else %}N/A{% endif %}
        #############################################
    {% endif %}
{% endfor %}
