{% set caluptime = perf.meta.results.snapshot_utc_time - perf.meta.results.utc_last_reboot %}
{% set seconds = caluptime / 1000 %}
{% set days = seconds // 86400 %}
{% set hours = (seconds % 86400) // 3600 %}
{% set minutes = (seconds % 3600) // 60 %}
{% set seconds_remaining = seconds % 60 %}
{
  "results": {
    "status": {
      "model": "{{ status.meta.results.model }}",
      "hostname": "{{ status.meta.results.hostname }}",
      "serial": "{{ status.meta.serial }}",
      "version": "{{ status.meta.version }}",
      "cpu": "{{ cpumem.meta.results.cpu }}",
      "memory": "{{ cpumem.meta.results.memory }}",
      "session": "{{ session.meta.results.session.current_usage }}",
      "uptime": "{{ days | int }} Days, {{ hours | int }} Hours, {{ minutes | int }} Minutes,{{ seconds_remaining | int }} Seconds",
                 
  "interfacesmgmt": [
    {% for result in interface.meta.results %}
      {% if result.type is defined and result.type == 'loopback' and result.ipv4_addresses is defined %}
        {
          "name": "{{ result.name }}",
          "ipv4_addresses": [
            {% for ip_info in result.ipv4_addresses %}
              "{{ ip_info.ip }}"
              {% if not loop.last %}, {% endif %}
            {% endfor %}
          ]
        }
        {% if not loop.last %} {% endif %}
      {% endif %}
    {% endfor %}
  ],
  "ntp": [
    {% set ntp_results = ntp.meta.results %}
    {% if ntp_results is defined and ntp_results | length > 1 %}
      {
        "ntpserver": "{{ ntp_results[1].server | default('N/A') }}",
        "ntpip": "{{ ntp_results[1].ip | default('N/A') }}",
        "ntpreachable": "{{ ntp_results[1].reachable | default('N/A') }}",
        "ntpexpire": "{{ ntp_results[1].expires | default('N/A') }}",
        "ntpstratum": "{{ ntp_results[1].stratum if ntp_results[1].stratum is defined else 'N/A' }}",
        "ntpdelay": "{{ ntp_results[1].delay | default('N/A') }}",
        "ntpoffset": "{{ ntp_results[1].offset | default('N/A') }}",
        "ntpselected": "{{ ntp_results[1].selected | default('N/A') }}"
      }
    {% else %}
      {
        "error": "No sufficient NTP results available."
      }
    {% endif %}
  ]
    },
    "fortiguardstat": {
      "fortiguardconnection": "{{ fortiguard.meta.results.fortiguard.connected | default('N/A') }}",
      "fortiguardserver": "{{ fortiguard.meta.results.fortiguard.server_address | default('N/A') }}",
      "fortiguardlast": "{% if fortiguard.meta.results.fortiguard.last_connection_success is defined %}{{ fortiguard.meta.results.fortiguard.last_connection_success | timestamp_to_datetime }}{% else %}N/A{% endif %}",
      "fortiguardnextupdate": "{% if fortiguard.meta.results.fortiguard.next_scheduled_update is defined %}{{ fortiguard.meta.results.fortiguard.next_scheduled_update | timestamp_to_datetime }}{% else %}N/A{% endif %}"
},
    "fmgstat": {
      "fmgserver": "{{ fmg.meta.results.server | default('N/A') }}",
      "fmgmode": "{{ fmg.meta.results.mode | default('N/A') }}",
      "fmgconnection": "{{ fmg.meta.results.fortimanager_status | default('N/A') }}",
      "fmgregistration": "{{ fmg.meta.results.fortimanager_registration_status | default('N/A') }}",
      "fmgserial": "{{ fmg.meta.results.sn | default('N/A') }}"
    },
    "fazstat": {
      "fazip": "{{ faz.meta.results.mgmt_ip | default('N/A') }}",
      "fazname": "{{ faz.meta.results.device | default('N/A') }}",
      "fazserial": "{{ faz.meta.results.serial | default('N/A') }}",
      "fazregistration": "{{ faz.meta.results.registration | default('N/A') }}"
    },
    "avstat": {
      "avver": "{{ fortiguard.meta.results.antivirus.version | default('N/A') }}",
      "avlast": "{{ fortiguard.meta.results.antivirus.last_update | timestamp_to_datetime | default('N/A') }}"
    },
    "appstat": {
      "appver": "{{ fortiguard.meta.results.appctrl.version | default('N/A') }}",
      "applast": "{{ fortiguard.meta.results.appctrl.last_update | timestamp_to_datetime | default('N/A') }}"
    },
    "isdbstat": {
      "isdbver": "{{ fortiguard.meta.results.internet_service_db.version | default('N/A') }}",
      "isdblast": "{{ fortiguard.meta.results.internet_service_db.last_update | timestamp_to_datetime | default('N/A') }}"
    },
    "ipsstat": {
      "ipsver": "{{ fortiguard.meta.results.ips.version | default('N/A') }}",
      "ipslast": "{{ fortiguard.meta.results.ips.last_update | timestamp_to_datetime | default('N/A') }}"
    },
    "arpstat": [
      {% for entry in arp_result.meta.results %}
      {
        "arpip": "{{ entry.ip }}",
        "arpage": "{{ entry.age | default('N/A') }}",
        "arpmac": "{{ entry.mac }}",
        "arpinterface": "{{ entry.interface }}"
      }
      {% if not loop.last %}, {% endif %}
      {% endfor %}
    ],
    "interfaces": [
      {% for result in interface.meta.results %}
      {
        "name": "{{ result.name }}",
        "status": "{{ result.status | default('Not Available') }}",
        "link": "{{ result.link | default('Not Available') }}",
        "mac_address": "{{ result.mac_address | default('Not Available') }}",
        "speed": "{{ result.speed | default('Not Available') }} Mbps",
        "duplex": "{{ result.duplex | default('Not Available') }}",
        "type": "{{ result.type | default('Not Available') }}",
        "ipv4_addresses": [
          {% if result.ipv4_addresses is defined %}
          {% for ip_info in result.ipv4_addresses %}
          {
            "ip": "{{ ip_info.ip }}",
            "cidr_netmask": "{{ ip_info.cidr_netmask }}",
            "netmask": "{{ ip_info.netmask }}"
          }
          {% if not loop.last %}, {% endif %}
          {% endfor %}
          {% else %}
          "No IPv4 addresses available"
          {% endif %}
        ]
      }
      {% if not loop.last %}, {% endif %}
      {% endfor %}
    ],
    "routes": {
      "total": "{{ routestat.meta.results.total_lines | default(0) }}",
      "totalv4": "{{ routestat.meta.results.total_lines_ipv4 | default(0) }}",
      "totalv6": "{{ routestat.meta.results.total_lines_ipv6 | default(0) }}"
    }
  },
  "ospf_neighbors": [
    {% if ospf_neighbors is defined and ospf_neighbors.meta.results | length > 0 %}
    {% for neighbor in ospf_neighbors.meta.results %}
    {
      "router_id": "{{ neighbor.router_id | default('N/A') }}",
      "state": "{{ neighbor.state | default('N/A') }}",
      "priority": "{{ neighbor.priority | default('N/A') }}",
      "neighbor_ip": "{{ neighbor.neighbor_ip | default('N/A') }}"
    }
    {% if not loop.last %}, {% endif %}
    {% endfor %}
    {% else %}
    {
      "error": "No OSPF neighbor information available."
    }
    {% endif %}
  ],
  "bgp_neighbors": [
    {% if bgp_neighbors is defined and bgp_neighbors.meta.results | length > 0 %}
    {% for neighbor in bgp_neighbors.meta.results %}
    {
      "neighbor_ip": "{{ neighbor.neighbor_ip | default('N/A') }}",
      "local_ip": "{{ neighbor.local_ip | default('N/A') }}",
      "remote_as": "{{ neighbor.remote_as | default('N/A') }}",
      "admin_status": "{{ neighbor.admin_status | default('N/A') | string }}",
      "state": "{{ neighbor.state | default('N/A') }}",
      "type": "{{ neighbor.type | default('N/A') }}"
    }
    {% if not loop.last %}, {% endif %}
    {% endfor %}
    {% else %}
    {
      "error": "No BGP neighbor information available."
    }
    {% endif %}
  ],
  "ipsec_tunnel_status": [
    {% if ipsec_tunnel_status is defined and ipsec_tunnel_status.meta.results | length > 0 %}
    {% for tunnel in ipsec_tunnel_status.meta.results %}
    {
      "tunnel_name": "{{ tunnel.name | default('N/A') }}",
      "status": "{{ tunnel.proxyid[0].status | default('N/A') }}",
      "remote_ip": "{{ tunnel.rgwy | default('N/A') }}"
    }
    {% if not loop.last %}, {% endif %}
    {% endfor %}
    {% else %}
    {
      "error": "No IPsec tunnel information available."
    }
    {% endif %}
  ],
  "policycount": "{{ policy.meta.results | length }}"
}
