# Show status ####

Model, Hostname, Serial, Version
{{ status.meta.results.model | default('N/A') }}, {{ status.meta.results.hostname | default('N/A') }}, {{ status.meta.serial | default('N/A') }}, {{ status.meta.version | default('N/A') }},
 



