Information for : {{inventory_hostname}}
IP Management : {{hostvars[inventory_hostname]['ansible_host']}}

Current Data/Time: {{clock.response[1]}}

####################Show System####################
{{version.response}}
####################Show Running Config####################
{{config.response}}
####################Show Serial Number####################
{{serial.response}}
####################Show IP MGMT####################
{{mgmt.response}}
####################Show cpu Status####################
{{cpu.response}}
####################Show memory Status####################
{{memory.response}}
####################Show Fan Status####################
{{fan.response}}
####################Show Power Supply Status####################
{{power.response}}
####################Show Temperature Status####################
{{temp.response}}
####################Show Interface Brief####################
{{interface.response}}
####################Show Vlan Databse####################
{{vlan}}
####################Show Mac-Address Count####################
{{mac.response}}
####################Show Total Route Count####################
{{route.response}}
####################Show lldp neighbor-info detail####################
{{lldp.neighbors}}"
