Information for : {{inventory_hostname}}
IP Management : {{ ansible_host }}

Current Data/Time: {{clock.response[1]}}

#################### Show System ####################
{# {version.response} #}
{% for ll in version.response %}
{{ ll }}
{% endfor %}
#################### Show Running Config ####################
{# {config.response} #}
{% for ll in config.response %}
{{ ll }}
{% endfor %}
#################### Show Serial Number ####################
{# {serial.response} #}
{% for ll in serial.response %}
{{ ll }}
{% endfor %}
#################### Show IP MGMT ####################
{# {mgmt.response} #}
{% for ll in mgmt.response %}
{{ ll }}
{% endfor %}
#################### Show cpu Status ####################
{# {cpu.response} #}
{% for ll in cpu.response %}
{{ ll }}
{% endfor %}
#################### Show memory Status ####################
{# {memory.response} #}
{% for ll in memory.response %}
{{ ll }}
{% endfor %}
#################### Show Fan Status ####################
{# {fan.response} #}
{% for ll in fan.response %}
{{ ll }}
{% endfor %}
#################### Show Power Supply Status ####################
{# {power.response} #}
{% for ll in power.response %}
{{ ll }}
{% endfor %}
#################### Show Temperature Status ####################
{# {temp.response} #}
{% for ll in temp.response %}
{{ ll }}
{% endfor %}
#################### Show Interface Brief ####################
{# {interface.response} #}
{% for ll in interface.response %}
{{ ll }}
{% endfor %}
#################### Show Vlan Databse ####################
{# {vlan.response} #}
{% for ll in vlan.response %}
{{ ll }}
{% endfor %}
#################### Show Mac-Address Count ####################
{# {mac.response} #}
{% for ll in mac.response %}
{{ ll }}
{% endfor %}
#################### Show Total Route Count ####################
{# {route.response} #}
{% for ll in route.response %}
{{ ll }}
{% endfor %}
#################### Show lldp neighbor-info detail ####################
{# {lldp.neighbors} #}
{% for ll in lldp.neighbors %}
{{ ll }}
{% endfor %}
